body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,button,input,textarea,p,blockquote,th,td
  margin 0
  padding 0

.icon 
  width 176px
  height 176px
  -webkit-border-radius 30px
  background #fff
  float left
  margin 50px
  -webkit-box-shadow 0px 4px 6px rgba(0, 0, 0, 0.5)
  cursor: auto

.icon:hover
  cursor: pointer

.icon:hover .header
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#363636), color-stop(.92,#4775b8),color-stop(.1,#7bb5db))
  -webkit-box-shadow inset 0px 2px 1px #4775b8

.icon:hover .body
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#363636), to(#ffffff), color-stop(.05,#EBEBEB),color-stop(.2,#E3E3E3))

.default
  background #9B2424

.default .header
  -webkit-border-top-left-radius 30px
  -webkit-border-top-right-radius 30px
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#363636), color-stop(.92,#BEC5CF),color-stop(.1,#DDE5EE))
  height 50px
  width 176px
  -webkit-box-shadow inset 0px 2px 1px #BEC5CF

.default p.title
  color #fff
  font-weight bold
  text-shadow 0px 1px 1px rgba(0, 0, 0, 0.7)
  width 176px
  line-height 50px
  font-size 25px
  text-align center

.default p.context
  color #000
  font-weight bold
  text-shadow 0px 1px 0px #fff
  width 176px
  line-height 126px
  font-size 130px
  text-align center

.default .body
  -webkit-border-bottom-left-radius 30px
  -webkit-border-bottom-right-radius 30px
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7A7A7A), to(#EDEDED), color-stop(.05,#BFBFBF),color-stop(.2,#E3E3E3))
  height 126px
  width 176px