// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// EXTJS
/* Target the custom baseCls we specified below. */
.skin-tile-view {
    padding: 0 10px 10px 0;
    text-align: center;
}
/* Target the tile view item. Make it float using inline-block. */
.skin-tile-view .x-dataview-item {
    background: #eee;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px 0 0 10px;
}
.skin-tile-view .x-item-selected {

}

// TOUCH
/* Target the custom baseCls we specified below. */
.skin-tile-view-container {
    padding: 0 10px 10px 0;
    text-align: center;
}
/* Target the tile view item. Make it float using inline-block. */
.skin-tile-view-container .skin-tile-view-item {
    background: #eee;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px 0 0 10px;
}
.skin-tile-view-container .x-item-selected {

}

// Examples of using the icon mixin:
// @include icon('user');