<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />
<meta name='apple-mobile-web-app-capable' content='yes' />
<title>Skin</title>
<base href="http://vanheemstrapictures.com"></base>
<!-- stylesheet for touch -->
<link href='assets/templates/core/javascripts/sencha-touch/resources/css/sencha-touch.css' rel='stylesheet' type='text/css' />

<!-- We need these first -->
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script-->
<script src="assets/templates/skin/javascripts/jquery/jquery-1.9.1.js"></script>
<script src="assets/templates/skin/javascripts/can/can.jquery.min.js"></script>
<script src="assets/templates/skin/javascripts/can/can.fixture.js"></script>
<script src='assets/templates/core/javascripts/sencha-touch/sencha-touch-all-debug.js' type='text/javascript'></script>
<!--script src="assets/templates/skin/javascripts/parseuri/parseuri.js"></script-->

<script type='text/javascript'>
function init()
{
	housekeeping();
	var mvcLoaderScript = document.getElementById('skin.mvcLoaderScript');
	// determine client details and load suitable mvc
	var clientWidth = document.body.clientWidth;
	if (clientWidth < 768) {
   		mvcLoaderScript.setAttribute('src', 'core/components/skin/app/controller/skin.mvc.loader.small.js');
		window.globalClientWidth = 'small'; // set the value globally
	} 
	else if (clientWidth < 1280) {
		mvcLoaderScript.setAttribute('src', 'core/components/skin/app/controller/skin.mvc.loader.medium.js');
		window.globalClientWidth = 'medium'; // set the value globally
	}
	else if (clientWidth < 1441) {
		mvcLoaderScript.setAttribute('src', 'core/components/skin/app/controller/skin.mvc.loader.large.js');
		window.globalClientWidth = 'large'; // set the value globally
	}
	else {
		mvcLoaderScript.setAttribute('src', 'core/components/skin/app/controller/skin.mvc.loader.veryLarge.js');
		window.globalClientWidth = 'very large'; // set the value globally
    }
}
function resize()
{
	if(document.body.clientWidth<768 && window.globalClientWidth != 'small') {
		//alert('Change to small!');
		housekeeping();
		var mvcLoaderScript= document.getElementById('skin.mvcLoaderScript');
		mvcLoaderScript.src='core/components/skin/app/controller/skin.mvc.loader.small.js';		
		window.globalClientWidth = 'small';
	}
	if(document.body.clientWidth<1280 && document.body.clientWidth>767 && window.globalClientWidth != 'medium') {
		//alert('Change to medium!');
		housekeeping();
		var mvcLoaderScript= document.getElementById('skin.mvcLoaderScript');
		mvcLoaderScript.src='core/components/skin/app/controller/skin.mvc.loader.medium.js';
		window.globalClientWidth = 'medium';
	}
	if(document.body.clientWidth<1441 && document.body.clientWidth>1279 && window.globalClientWidth != 'large') {
		//alert('Change to large!');
		housekeeping();
		var mvcLoaderScript= document.getElementById('skin.mvcLoaderScript');
		mvcLoaderScript.src='core/components/skin/app/controller/skin.mvc.loader.large.js';
		window.globalClientWidth = 'large';
	}
	if(document.body.clientWidth>1440 && window.globalClientWidth != 'very large') {
		//alert('Change to very large!');
		housekeeping();
		var mvcLoaderScript= document.getElementById('skin.mvcLoaderScript');
		mvcLoaderScript.src='core/components/skin/app/controller/skin.mvc.loader.veryLarge.js';
		window.globalClientWidth = 'very large';
	}
}
function housekeeping() {
	var headElement = document.getElementsByTagName('head')[0];
	var bodyElement=document.getElementsByTagName('body')[0];
	var mvcElements = document.getElementsByTagName('mvc');
	for (var i = 0; i < mvcElements.length; i++) {
		if(mvcElements[i]) { bodyElement.removeChild(mvcElements[i]) }; // remove every mvc element that exists
	}
	// As we are removing items from our collection, we have to do this twice
	for (var i = 0; i < mvcElements.length; i++) {
		if(mvcElements[i]) { bodyElement.removeChild(mvcElements[i]) }; // remove every mvc element that exists
	}	
	var mvcLoaderScript = document.getElementById('skin.mvcLoaderScript');
	var foundationStyle = document.getElementById('skin.foundationStyle');
	if(mvcLoaderScript) { headElement.removeChild(mvcLoaderScript) }; // remove mvc loader script if it exists
	if(foundationStyle) { headElement.removeChild(foundationStyle) }; // remove foundation style if it exists
	var mvcLoaderScript= document.createElement('script'); // recreate the mvc loader script
	mvcLoaderScript.setAttribute('type', 'text/javascript');
	mvcLoaderScript.setAttribute('id', 'skin.mvcLoaderScript');
	appendToHead(mvcLoaderScript);
}
function appendToHead(el){
	var headElement = document.getElementsByTagName('head')[0];
	headElement.appendChild(el);	
}
</script>
</head>
<body onload='init()' onresize='resize()' style='margin:0px;'>	
<!--<input type="button" onclick="init()" value="Init">-->

<div id='appEl' style='border:1px solid blue'>empty</div>
<script src='core/components/skin/app.js' type='text/javascript'></script>
</body>
</html>