/*
 * Config for values that can be globally get and set at runtime
 *
 * Example to set a global value:
 * Skin.config.global.Config.setMyLastCustomer(12345);
 *
 * Example to get a global value:
 * Skin.config.global.Config.getMyLastCustomer();
 *
 */
Ext.define("Skin.config.global.Config",{
    singleton : true,
    config : {
        //myLastCustomer : 0,     // initialize to 0
        id: 0,     				  // initialize to 0
        sessionId: '',            // initialize to empty
        keepMeLoggedIn: false,	  // initialize to false
		initialView: 'login',     // initialize to 'login'
        previousView: '',         // initialize to empty
        currentView: '',          // initialize to empty
        nextView: 'mainslide',    // initialize to empty
        ui: 'neutral',        	  // initialize to 'neutral'
        company: 'Your Company',  // initialize to 'Your Company'
		locale: 'en_us',	      // initialize to 'en_us'
		background: 'noise',      // initialize to 'noise'
		url: '',				  // initialize to ''
		title: '',				  // initialize to ''
		groups: [{
			0: [{
				title: '' // left empty intentionally, so this group is without a header
			}]
		},{
			1: [{
				title: 'A'
			}]
		},{
			2: [{
				title: 'B'
			}]
		}],
		categories: [{
			0: [{
				title: 'Home',
				group: 0,
				html: ['<center>',
					'<img src="./resources/logos/logo.png" />',
					'<h2>Welcome to Your Home Page</h2>',
					'<p>This page can be customized in whatever way you prefer.</p>',
					'</center>'].join("")
			}],
			1: [{
				title: 'Administration',
				group: 1,
				apps: [person, product, booking]
			}]
		}],	
		apps: [{
			person:  [{
				title: 'Persons',
				url: 'http://localhost:4000/touch?app=person'
			}]
		},{
			product:  [{
				title: 'Products',
				url: 'http://localhost:4000/touch?app=product'
			}]
		},{
			booking:  [{
				title: 'Bookings',
				url: 'http://localhost:4000/touch?app=booking'
			}]
		}]	
    },
    constructor : function(config){
        this.initConfig(config);
    }
});